$header: #1A0F51;
$font: #6D326D;
$font2: #3693C1;
$font3: #E076A8;
$font4: #FFFFFF;
$font5: #6B6D6D;

body {
    font-family: 'Poiret One', cursive;
}

.App-header {
    background-color: $font5; 
    height: 75px;
    width: 100%;
    h2 {
        color: white;
        margin: 2%;
        position: relative;
        top: 18px;
    }
}

.navbar {
   text-align: right;
    a {
        color: $font3;
        text-decoration: none;
        margin: 2%;
        float: right;
    }
}

.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding: 5px;

    img {
         width: 50%;
         height: 50%;
    }
    .playlist {
        width: 70%;
        padding: 1%;
        background-color: #F8F8F8;
    }
}

.playlistItems {
    background-color: white;
    font-size: 12px;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

.input-box-add-song {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-right: 10px;
    height: 170px;
    background-color: #F8F8F8;
}

.playlistItems,
input {
    margin-bottom: 10px;
}

button,
.addButton {
    background-color: $font;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    border-color: $font;
    cursor: pointer;
}

button:focus,
.addButton:focus {
    outline: 0;
}


h1 {
    font-size: 15px;
    color: $header;
    color: $font3;
}

.App-header,
.playlist,
.input-box-add-song,
.playlistItems  {
     box-shadow: 2px 2px 10px #888888;
 }

span {
     color: $font2;
     font-weight: bold;
 }

